:root {
  --white-color: #f4f4fd;
}
header {
  color: #2e2f42;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #434455;
}
ul,
ol {
  list-style-type: none;
}
address {
  font-style: normal;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* #region Navigation*/
.nav-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* #region Logo*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-span {
  color: #2e2f42;
  letter-spacing: 0.03em;
}

/* #region Address*/
.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #region Hero*/
.hero {
  background-color: #2e2f42;
}
.hero-content {
  color: #fff;
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.order-button {
  color: #fff;
  background-color: #4d5ae5;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* #region Features*/

.features {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.features-items {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #region Our-team*/
.section-team {
  background-color: #f4f4fd;
}
.title-team {
  color: #2e2f42;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-card {
  background-color: #ffffff;
}
.team-name {
  background-color: #ffffff;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-profession {
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #region Portfolio*/
.title-portfolio {
  color: #2e2f42;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  background-color: #ffffff;
}
.portfolio-item {
  background-color: #ffffff;
}
.porfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-kind {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #region Footer*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: var(--white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
